.ko1, .ko2
{
    font-size: 4rem;
    color: #FF2FD7;
    corner-shape: notch  ;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ok 
{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    width: 100vw;
}