.ko1, .ko2
{
    font-size: 4rem;
    color: aqua;
    corner-shape: notch  ;

}

.ok 
{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    width: 100vw;
}